language: python

python:
  - "2.7"

notifications:
  email: false

# command to install dependencies
install:
  - pip install -r requirements.txt

script:
  - cd pymesync
  - make test
  - make flake
